body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.box{
	background-color: #f3ecea;
	width: 500px;
	height: 300px;
	margin-left: 450px;
	margin-top: 100px;
	position: relative;
	text-align: center;
}
#title{
	text-align: center;
}
#save{
	margin-left: 400px;
	margin-top: 50px;
}
.note{
	background-color: #f3ecea;
	position: relative;
	width: 300px;
	margin-left: 200px;
	text-align: center;
}
#imgUpload{
	margin-left: 60px;
}

